<fns-bread-crumb
  [items]="[{text: 'Categorias', link: '/categories'}, {text: pageTitle}]"
></fns-bread-crumb>

<fns-page-header
  [page-title]="pageTitle"
  [show-button]="false"
></fns-page-header>

<div class="row mb-4">
  <div class="col-md-12">
      <a routerLink="/categories" class="btn btn-outline-dark btn-md float-right">
          <i class="fa-solid fa-arrow-rotate-left"></i>
      </a>
  </div>
</div>


<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre a categoria
    </div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">

          <fns-form-field-error [form-control]="resourceForm.get('name')"></fns-form-field-error>
        </div>

        <div class="form-group col-md-8">
          <label for="description">Descrição</label>
          <input type="description" class="form-control" id="description" formControlName="description">

          <fns-form-field-error [form-control]="resourceForm.get('description')"></fns-form-field-error>
        </div>
      </div>
    </div>
  </div>

  <!-- Server Erros Messages -->
  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul> <li *ngFor="let error of serverErrorMessages"> {{ error }} </li> </ul>
  </div>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-outline-primary btn-lg mt-3 float-right">Salvar</button>

</form>