<fns-bread-crumb
  [items]="[{text: 'Lançamentos', link: '/entries'}, {text: pageTitle}]"
></fns-bread-crumb>

<fns-page-header
  [page-title]="pageTitle"
  [show-button]="false"
></fns-page-header>

<div class="row mb-4">
  <div class="col-md-12">
      <a routerLink="/entries" class="btn btn-outline-dark btn-md float-right">
          <i class="fa-solid fa-arrow-rotate-left"></i>
      </a>
  </div>
</div>

<form [formGroup]="resourceForm" (submit)="submitForm()">

  <div class="card">
    <div class="card-header">
      Informações sobre o lançamento
    </div>

    <div class="card-body">
      <div class="form-row">

        <!-- type -->
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select name="type" id="type" formControlName="type" class="form-control">
            <option *ngFor="let option of typeOptions" [ngValue]="option.value">{{ option.text }}</option>
          </select>

          <fns-form-field-error [form-control]="resourceForm.get('type')"></fns-form-field-error>
        </div>

        <!-- name -->
        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input type="text" class="form-control" id="name" formControlName="name">

          <fns-form-field-error [form-control]="resourceForm.get('name')"></fns-form-field-error>
        </div>

        <!-- amount -->
        <div class="form-group col-md-3">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input [imask]="imaskConfig" type="text" class="form-control text-right" id="amount"
              formControlName="amount">
          </div>

          <fns-form-field-error [form-control]="resourceForm.get('amount')"></fns-form-field-error>
        </div>

        <!-- date -->
        <div class="form-group col-md-2">
          <label for="date">Data</label>
          <p-calendar id="date" formControlName="date" inputStyleClass="form-control" dataType="string"
            dateFormat="dd/mm/yy" [locale]="ptBR" [showButtonBar]="true">
          </p-calendar>

          <fns-form-field-error [form-control]="resourceForm.get('date')"></fns-form-field-error>
        </div>
      </div>


      <div class="form-row">
        <!-- paid -->
        <div class="form-group col-md-2">
          <label for="paid">Pago</label>
          <div class="btn-group">
            <label (click)="resourceForm.get('paid').setValue(true)" [class.active]="resourceForm.get('paid').value == true"
              class="btn btn-outline-info">
              Pago
            </label>
            <label (click)="resourceForm.get('paid').setValue(false)" [class.active]="resourceForm.get('paid').value == false"
              class="btn btn-outline-info">
              Pendente
            </label>
          </div>

          <fns-form-field-error [form-control]="resourceForm.get('paid')"></fns-form-field-error>
        </div>

        <!-- categoryId -->
        <div class="form-group col-md-3">
          <label for="categoryId">Categoria</label>

          <select name="categoryId" id="categoryId" formControlName="categoryId" class="form-control">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>

          <fns-form-field-error [form-control]="resourceForm.get('categoryId')"></fns-form-field-error>
        </div>        

        <!-- description -->
        <div class="form-group col-md-7">
          <label for="description">Descrição</label>
          <input type="description" class="form-control" id="description" formControlName="description">

          <fns-form-field-error [form-control]="resourceForm.get('description')"></fns-form-field-error>
        </div>
      </div>
    </div>
  </div>

  <!-- server erros messages -->
  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages"> {{ error }} </li>
    </ul>
  </div>

  <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
    class="btn btn-outline-primary btn-lg mt-3 float-right">Salvar</button>

</form>

<!--
<div class="container mt-5">
<pre> <strong> {{ resourceForm.value | json}} </strong> </pre>
</div>
-->